@model SummaryVM[]
<h2 style="padding-left:30px">Varukorg</h2>

@{

    decimal sum = Model.Sum(p => p.Price * p.Quantity);
    bool freeShipping = false;
    if (sum > 300)
        freeShipping = true;

    else
        sum += 39;

    if (Model.Length == 0)
    {
        <p style="padding-left:30px">Varukorgen är tom. Gå till <strong style="color:blue"><a href="shop">shoppen</a></strong></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Artikelnummer</th>
                    <th scope="col">Namn</th>
                    <th scope="col">Pris</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Ta bort</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price.ToString("c")</td>
                        <td>
                            @item.Quantity &#9;
                            <a href="#" class="text-decoration-none" onclick="AddToCartCheckout(@item.Id)"><i class="fas fa-plus-circle"></i></a>
                            <a href="#" class="text-decoration-none" onclick="RemoveSingleFromCart(@item.Id)"><i class="fas fa-minus-circle"></i></a>
                        </td>
                        <td>
                            <a href="#" class="text-decoration-none" onclick="RemoveAllFromCart(@item.Id)"><i class="far fa-times-circle"></i></a>
                        </td>
                    </tr>
                }
                @if (!freeShipping)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            Frakt: 39,00 kr
                        </td>
                        <td></td>

                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        Summa pris: @sum.ToString("c")
                    </td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    }
}
