@model ShopVM[]

<div class="row" style="margin-left:220px">
    @foreach (var item in Model)
    {
        <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card-group text-center">
                <div class="card" style="width: 18rem;">
                    <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id>
                        <img src="~/Images/@item.ThumbnailUrl" class="shopImg card-img-top" alt="@item.Name" />
                        <div class="card-body d-flex flex-column">
                            <div class="mt-auto">
                                <h5 class="card-title text-truncate">@item.Name </h5>
                                <p class="card-text">@item.SubCategory</p>
                                <p class="card-text"><strong>@item.Price.ToString("c")</strong></p>
                                <a href="#" onclick="AddToCart(@item.Id)" data-bs-toggle="modal" data-bs-target="#purchaseModal" class="btn btn-primary">Lägg i varukorg <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>


