@model MyOrderLineVM[]

@{
    decimal sum = Model.Sum(p => p.Price * p.Quantity);
    bool freeShipping = false;
    if (sum > 300)
        freeShipping = true;

    else
        sum += 39;
}


<h2 style="padding-left:30px">Order: @Model[0].OrderId</h2>
<h3 style="padding-left:30px">Status: @Model[0].Status</h3>


<div style="padding-left:30px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Artikelnummer</th>
                <th scope="col">Namn</th>
                <th scope="col">Pris</th>
                <th scope="col">Antal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("c")</td>
                    <td>
                        @item.Quantity &#9;
                    </td>
                    <td>
                    </td>
                </tr>
            }
            @if (!freeShipping)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        Frakt: 39,00 kr
                    </td>
                    <td></td>

                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    Summa pris: @sum.ToString("c")
                </td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>